.search {
    display: flex;
    justify-content: center;
}

.searchBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 50px;
    padding: 0.1rem;
    border: 2px solid black;
    opacity: 0.3;
}

.inputBox {
    font-size: 20px;
    width: 90%;
    border: none;
    border-right: 0;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    outline: none;
}

.searchBox:focus-within {
    opacity: 1;
}
