.block {
    width: 320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.first:disabled {
    background: gray;
    color: white;
    cursor: not-allowed;
}

.last:disabled {
    background: gray;
    color: white;
    cursor: not-allowed;
}
