.block {
    width: 1024px;
    margin: 0 auto;
    margin-top: 5rem;
}

button {
    height: 2.125rem;
    padding: 0.25rem 1rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    outline: none;
    cursor: pointer;
}

.write_button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3rem;
}

.write {
    margin-right: 1rem;
    background: #21c997;
    transition: all 0.25s ease-in;
}

.write:hover {
    opacity: 0.6;
}

@media screen and (max-width: 768px) {
    .block {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1em;
    }
}
