@import "./reset.css";
@import "./grid.min.css";

* {
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

/* maing header */
.main__header {
  padding: 5px;
  margin-bottom: 30px;
}

.main__header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Ranchers", cursive;
  font-size: 25px;
}

/* desktop check */
.write__page {
  display: none;
  font-size: 25px;
  width: 150px;
  height: 50px;
  margin-right: 20px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50px;
  text-align: center;
}

.main__search {
  margin-right: 20px;
}

.main__search i {
  font-size: 20px;
}

.main__contents {
  display: flex;
  align-items: center;
}

.my__profile img {
  width: 50px;
  height: 50px;
  border: 3px solid gray;
  border-radius: 50%;
}

/* header menu */
.menu__list {
  display: flex;
  justify-content: flex-start;
}

.list__item {
  margin-right: 8px;
}

.list__item--link {
  display: flex;
  font-size: 15px;
}

.list__item--link i {
  margin-right: 3px;
}

/* 768(Desktop) */
/* media query */
@media screen and (min-width: 768px) {
  /* main header */
  .main__header {
    padding: 15px;
  }

  .logo {
    font-size: 40px;
  }

  .main__search {
    margin-right: 50px;
    transition: all 0.3s ease-in;
  }

  .main__search:hover {
    color: blue;
    opacity: 0.4;
  }

  .main__search i {
    font-size: 30px;
  }

  .write__page {
    display: block;
    transition: all 0.3s ease-in;
  }

  .write__page:hover {
    color: white;
    background-color: blue;
    opacity: 0.4;
  }

  .my__profile {
    transition: all 0.3s ease-in;
  }

  .my__profile:hover {
    transform: rotate(45deg);
  }

  .my__profile img {
    width: 65px;
    height: 65px;
  }

  /* main header */
  .list__item {
    position: relative;
    bottom: 0;
    left: 0;
    margin-right: 12px;
  }

  .list__item--link {
    font-size: 20px;
  }

  .list__item--link::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: blue;
    transition: all 0.25s ease-in-out;
    opacity: 0.4;
  }

  .list__item--link:hover::after {
    width: 100%;
  }

  .list__item--link i {
    margin-right: 8px;
  }
}

/* custom grid system -fix container width */
@media screen and (min-width: 1920px) {
  .container {
    max-width: 1200px !important;
  }
}
