@import "./reset.css";
@import "./grid.min.css";

:root {
  /* color */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-blue: #0000ff;
  --color-light-gray: #f8f9fa;

  /* size */
  --size-imgWidth-think: 30px;
  --size-imgHeight-think: 30px;
  --size-imgWidth-small: 50px;
  --size-imgHeight-small: 50px;
  --size-imgWidth-middle: 270px;
  --size-boxSize-basic: 5px;
  --size-boxSize-small: 10px;
  --size-boxSize-middle: 20px;
  --size-boxSize-middleCheck: 50px;
  --size-boxSize-large: 100px;
  --size-borderRadius-basic: 5px;
  --size-borderRadius-think: 15px;
  --size-borderRadius-small: 20px;
  --size-borderRadius: 50%;

  /* font-size */
  --size-fontsize-think: 13px;
  --size-fontsize-small: 15px;
  --size-fontsize-middle: 20px;
}

* {
  margin: 0;
}

body {
  box-sizing: border-box;
  background-color: var(--color-light-gray);
}

a {
  text-decoration: none;
  color: var(--color-black);
}

button {
  border: none;
  background-color: transparent;
  outline: none;
}

/* dreamlog header */
.dreamlog__header {
  padding: var(--size-boxSize-small);
  margin-bottom: var(--size-boxSize-middle);
}

.dreamlog__header--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__name strong {
  font-size: var(--size-fontsize-middle);
  font-weight: bold;
}

.search__link {
  margin-right: var(--size-boxSize-middle);
}

.write__link {
  display: none;
  margin-right: var(--size-boxSize-middle);
  padding: var(--size-boxSize-small);
  border: 3px solid var(--color-black);
  border-radius: var(--size-borderRadius-small);
}

.dreamlog__menu {
  display: flex;
  align-items: center;
}

.profile__btn img {
  width: var(--size-imgWidth-small);
  height: var(--size-imgHeight-small);
  border: 3px solid var(--color-black);
  border-radius: var(--size-borderRadius);
}

/* dreamlog menu */
.dreamlog__menu {
  margin-bottom: var(--size-boxSize-middle);
}

.dreamlog__menu--list {
  display: flex;
  justify-content: space-around;
}

/* dreamlog record */
.dreamlog__record {
  padding: var(--size-boxSize-small);
}

.dreamlog__record--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--size-boxSize-middleCheck);
}

.record__img {
  margin-bottom: var(--size-boxSize-small);
}

.record__img img {
  width: 100%;
  height: auto;
}

.record__content {
  padding: var(--size-boxSize-basic);
  margin-bottom: var(--size-boxSize-large);
}

.content__title {
  font-size: var(--size-fontsize-small);
  font-weight: bold;
  margin-bottom: var(--size-boxSize-middle);
}

.content__content {
  font-size: var(--size-fontsize-think);
}

.record__property {
  font-size: var(--size-fontsize-think);
  margin-bottom: var(--size-boxSize-middle);
  padding: 0 var(--size-boxSize-basic);
  padding-bottom: var(--size-boxSize-middle);
  border-bottom: 2px solid #00000009;
}

.record__property span {
  opacity: 0.5;
}

.record__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--size-boxSize-basic);
}

.info__column:first-child {
  display: flex;
  align-items: center;
}

.info__column img {
  width: var(--size-imgWidth-think);
  height: var(--size-imgHeight-think);
  margin-right: var(--size-boxSize-small);
  border-radius: var(--size-borderRadius);
}

/* 768(Desktop) */
/* media query */
@media screen and (min-width: 768px) {
  :root {
    /* img size */
    --size-imgWidthD-small: 70px;
    --size-imgHeightD-small: 70px;

    /* box size */
    --size--boxSizeD-small: 30px;

    /* font size */
    --size-fontSizeD-think: 18px;
    --size-fontSizeD-small: 25px;
    --szie-fontSizeD-middle: 30px;

    /* opacity */
    --hover-opacity: 0.5;

    /* animation sec */
    --hover-sec: 0.25s;
  }

  .logo__name strong {
    font-size: var(--szie-fontSizeD-middle);
  }

  .search__link {
    transition: all var(--hover-sec) ease-in;
  }

  .search__link:hover {
    color: var(--color-blue);
    opacity: var(--hover-opacity);
  }

  .search__link i {
    font-size: var(--size-fontSizeD-small);
  }

  .write__link {
    display: block;
    transition: all var(--hover-sec) ease-in;
  }

  .write__link:hover {
    color: var(--color-white);
    border: 3px solid var(--color-blue);
    background-color: var(--color-blue);
    opacity: var(--hover-opacity);
  }

  .profile__btn {
    transition: all var(--hover-sec) ease-in-out;
  }

  .profile__btn:hover {
    transform: rotate(45deg);
  }

  .profile__btn img {
    width: var(--size-imgWidthD-small);
    height: var(--size-imgHeightD-small);
  }

  /* dreamlog menu */
  .dreamlog__menu {
    margin-bottom: var(--size--boxSizeD-small);
  }

  .dreamlog__menu--list {
    display: flex;
    justify-content: flex-start;
  }

  .list__item--link {
    position: relative;
    bottom: 0;
    left: 0;
  }

  .list__item {
    font-size: var(--size-fontSizeD-think);
    margin-right: var(--size--boxSizeD-small);
  }

  .list__item::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: blue;
    opacity: var(--hover-opacity);
    transition: all 250ms ease-in-out;
  }

  .list__item:hover::after {
    width: 100%;
  }

  /* dreamlog record */
  .dreamlog__record--container {
    transition: all 0.3s ease-in-out;
  }

  .dreamlog__record--container:hover {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.4);
    transform: translateY(-10px);
  }
}
/* custom grid system -fix container width */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 960px !important;
  }
}
