.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
}

.block {
    width: 320px;
    background: white;
    padding: 1.5rem;
    border-radius: 4px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.125);
}

.title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.description {
    margin-bottom: 3rem;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.confirm {
    background: #7adfc1;
}

.cancel {
    margin-right: 0.75rem;
    background: black;
}

.cancel,
.confirm {
    height: 2rem;
}

.cancel:hover,
.confirm:hover {
    opacity: 0.5;
}

@media screen and (max-width: 768px) {
    .block {
        width: 280px;
    }
    .description {
        font-size: 0.8rem;
    }
}
