.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3rem;
}

.logo {
    font-size: 2rem;
}

.search {
    font-size: 1.5rem;
}

.mainHeader {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2rem;
}

.list {
    display: flex;
    justify-content: flex-start;
}

.item {
    font-size: 1.2em;
    margin-right: 1.5rem;
    text-decoration: none;
    outline: 0;
}
