.block {
    position: fixed;
    background: white;
    width: 100%;
    padding: 1rem;
}

.wrapper {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    color: #000000;
    text-decoration: none;
    font-size: 2.125rem;
    font-weight: 800;
    letter-spacing: 2px;
}

.right {
    display: flex;
    align-items: center;
}

.button {
    width: 100px;
    height: 40px;
    background: #000000;
    transition: all 0.25s ease-in;
}

.button:hover {
    background: #95e0c8;
}

.user_info {
    font-weight: 800;
    margin-right: 1rem;
}

.spacer {
    height: 4rem;
}
