.block {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
    margin-top: -1.5rem;
}

.button_update,
.button_delete {
    padding: 0.25rem 0.5rem;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 0.875rem;
    color: #ffffff;
    outline: none;
    cursor: pointer;
}

.button_update {
    background: #7adfc1;
}

.button_delete {
    background: #000000;
}

.button_update:hover,
.button_delete:hover {
    opacity: 0.5;
}

.button_update {
    margin-right: 0.25rem;
}
