.title {
    color: #00000080;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.input_id,
.input_password {
    width: 100%;
    padding-bottom: 0.5rem;
    border: none;
    border-bottom: 1px solid #00000050;
    margin-bottom: 1rem;
    font-size: 1rem;
    outline: none;
}

.input_id:focus,
.input_password:focus {
    color: #000000;
    border-bottom: 1px solid #7adfc1;
}

.check_button {
    width: 100%;
    font-size: 1.2rem;
    background-color: #7adfc1;
    transition: all 0.25s ease-in;
}

.check_button:hover {
    opacity: 0.5;
}

.footer {
    margin-top: 2rem;
    text-align: right;
}

.footer:hover {
    opacity: 0.5;
}

.eroor_message {
    margin: 1rem 0;
    color: red;
    text-align: center;
    font-size: 0.875rem;
}
