<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DreamLog</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Ranchers&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style/style.css" />
  </head>
  <body>
    <!-- main header -->
    <header class="main__header">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="main__header__container">
              <div class="main__logo">
                <a href="#" class="logo">
                  <strong aria-label="DremLog">DreamLog</strong>
                </a>
              </div>
              <div class="main__contents">
                <a href="#" class="main__search">
                  <i class="fas fa-search" aria-label="검색"></i>
                </a>
                <a href="#" class="write__page" aria-label="새 글 작성">
                  새 글 작성
                </a>
                <button
                  type="menu"
                  class="my__profile"
                  aria-label="프로필 드롭 메뉴"
                >
                  <img
                    src="https://img.etoday.co.kr/pto_db/2020/06/600/20200606221313_1469361_439_567.png"
                    alt="profile-img"
                  />
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- header menu -->
    <header class="header__menu">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <ul class="menu__list">
              <li class="list__item">
                <a href="#" class="list__item--link">
                  <i class="far fa-newspaper"></i>
                  <h3 class="list__item--title">IT트렌드</h3>
                </a>
              </li>
              <li class="list__item">
                <a href="#" class="list__item--link">
                  <i class="far fa-clock"></i>
                  <h3 class="list__item--title">꿈의 기록</h3>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
