<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DreamLog Mypage-Blog</title>
    <link rel="stylesheet" href="/style/style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
  </head>
  </head>
  <body>
    <!-- dreamlog header -->
    <header class="dreamlog__header my__page">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="dreamlog__header--container">
              <div class="dreamlog__logo">
                <a href="main.html" class="logo__link">
                  <h1 class="logo__name">
                    <strong aria-label="DreamLog">DreamLog</strong>
                  </h1>
                </a>
              </div>
              <div class="dreamlog__menu">
                <a href="search.html" class="search__link">
                  <i class="fas fa-search" aria-label="검색"></i>
                </a>
                <a href="#" class="write__link">
                  <span class="wrtie__title" aria-label=" 꿈의 기록 작성">
                    꿈의 기록 작성
                  </span>
                </a>
                <button class="profile__btn" aria-label="프로필 메뉴">
                  <img
                    src="https://www.issuemaker.kr/news/photo/201808/15196_11140_5422.jpg"
                    alt="profile-img"
                  />
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- mypage profile -->
    <section class="mypage__profile">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="mypage__profile--container">
              <img src="https://www.issuemaker.kr/news/photo/201808/15196_11140_5422.jpg" alt="프로필 이미지">
              <h1 class="profile__name">
                이종현
              </h1>
              <span class="profile__dream">
                꿈을 코딩하자
              </span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- mypage main -->
    <section class="mypage__main">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <ul class="mypage__menu--list">
              <a href="#" class="mypage__menu--link">
                <li class="mypage__menu--item">
                  <span class="mypage__item--title">
                    글
                  </span>
                </li>
              </a>
              <a href="#" class="mypage__menu--link">
                <li class="mypage__menu--item">
                  <span class="mypage__item--title">
                    시리즈
                  </span>
                </li>
              </a>
              <a href="#" class="mypage__menu--link">
                <li class="mypage__menu--item">
                  <span class="mypage__item--title">
                    소개
                  </span>
                </li>
              </a>
            </ul>
            <ul class="mypage__tag--list">
              <a href="#" class="mypage__tag--link">
                <li class="mypage__tag--item">
                  <span class="mypage__tag--title">
                    전체보기
                  </span>
                  <span class="tag__count">
                    14
                  </span>
                </li>
              </a>
              <a href="#" class="mypage__tag--link">
                <li class="mypage__tag--item">
                  <span class="mypage__tag--title">
                    React
                  </span>
                  <span class="tag__count">
                    8
                  </span>
                </li>
              </a>
              <a href="#" class="mypage__tag--link">
                <li class="mypage__tag--item">
                  <span class="mypage__tag--title">
                    Javascript
                  </span>
                  <span class="tag__count">
                    5
                  </span>
                </li>
              </a>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- mypage content -->
    <section class="mypage__content">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="mypage__content--container">
              <h1 class="mypage__content--title">
                Hooks
              </h1>
              <p class="mypage__content--content">
                Hooks는 함수형 컴포넌트에서도 상태 관리를 할 수 잇는 useState, 렌더링 직후 작업을 설정하는 useEffect 등의 기능을 제공하여 기존의 함수형 컴포넌트에서 할 수 없었던 다양한 작업을 할 수 있게 해 줍니다.useState는 가장 기본적인,
              </p>
              <a href="#" class="mypage__content--taglink">
                <span class="mypage__content--tagname">
                  React
                </span>
              </a>
              <div class="mypage__content--info">
                <span class="mypage__content--date">
                  6일전
                </span>
                <span class="comma">.</span>
                <span class="mypage__content--comment">
                  0개의 댓글
                </span>
              </div>
            </div>
            <div class="mypage__content--container">
              <h1 class="mypage__content--title">
                Hooks
              </h1>
              <p class="mypage__content--content">
                Hooks는 함수형 컴포넌트에서도 상태 관리를 할 수 잇는 useState, 렌더링 직후 작업을 설정하는 useEffect 등의 기능을 제공하여 기존의 함수형 컴포넌트에서 할 수 없었던 다양한 작업을 할 수 있게 해 줍니다.useState는 가장 기본적인,
              </p>
              <a href="#" class="mypage__content--taglink">
                <span class="mypage__content--tagname">
                  React
                </span>
              </a>
              <div class="mypage__content--info">
                <span class="mypage__content--date">
                  6일전
                </span>
                <span class="comma">.</span>
                <span class="mypage__content--comment">
                  0개의 댓글
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
