<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DreamKig Search</title>
    <link rel="stylesheet" href="/style/style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- dreamlog header -->
    <header class="dreamlog__header">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="dreamlog__header--container">
              <div class="dreamlog__logo">
                <a href="main.html" class="logo__link">
                  <h1 class="logo__name">
                    <strong aria-label="DreamLog">DreamLog</strong>
                  </h1>
                </a>
              </div>
              <div class="dreamlog__menu">
                <a href="search.html" class="search__link">
                  <i class="fas fa-search" aria-label="검색"></i>
                </a>
                <a href="#" class="write__link">
                  <span class="wrtie__title" aria-label=" 꿈의 기록 작성">
                    꿈의 기록 작성
                  </span>
                </a>
                <button class="profile__btn" aria-label="프로필 메뉴">
                  <img
                    src="https://www.issuemaker.kr/news/photo/201808/15196_11140_5422.jpg"
                    alt="profile-img"
                  />
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- search engin -->
    <section class="search__engin">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="search__engin--container">
                        <i class="fas fa-search" aria-label="검색"></i>
                        <input type="text" class="search__box" placeholder="검색어를 입력하세요" autofocus />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </body>
</html>
